@import url('https://fonts.googleapis.com/css2?family=Onest:wght@500&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Onest', sans-serif;
}

#header {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 75dvw;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 2rem;
    background-color: black;
    margin-top: 2%;
}

.nav-link {
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    padding: 1%;
    margin: 1%;
    transition: 0.2s ease;
    border-radius: 1rem;
    text-decoration: none;
}

.nav-link:hover {
    background-color: white;
    color: #000;
}

#HomeBody {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 80dvw;
    height: 50dvh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#HomeImg {
    width: 20dvw;
}

#HomeDisc {
    height: 25dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 1% auto;
    width: fit-content;
    height: fit-content;
    opacity: 0.5;
    font-size: 0.8em;
}